<!--Footer Styling - helps optimize footer viewing on smaller devices-->
<style>

  /* Mobile - 768px */
  @media (max-width: 768px) {
    #main-footer {
      flex-direction: column;
      gap: 12px;
    }

    #footer-container1 {
      flex-direction: column;
    }

    #copyright_string {
      text-align: center;
    }

    #footer-container2 {
      flex-direction: column;
      padding-top: 12px;
    }
  }
</style>

<!--New Footer, replaces the generic footer provided by the theme of the site-->
<div id="main-footer" style="display: flex; gap: 15px; padding-top: 40px; padding-bottom: 40px;">

  <!--Footer Container 1 - Contains the Not By AI badge and website copyright-->
  <div id="footer-container1" style="display: flex; gap: 12px; align-items: center; width: 100%;">

    <!--Not By AI Badges, displays to adapt in system theme-->
    <img id="notbyai_dark" class="hx:hidden hx:dark:block" src="images/index/notbyai-dark.webp" width="130px" />
    <img id="notbyai_light" class="hx:block hx:dark:hidden" src="images/index/notbyai.webp" width="130px" />

    <!--Copyright String-->
    <p id="copyright_string" style="font-size: 12px;">&copy; 2026 Benjamin Fernandez Media, All rights reserved.<br> BFM Online and its logo is a website mark of Benjamin Fernandez Media.</p>
  </div>

  <!--Footer Container 2 - Contains the author logo and official site badge-->
  <div id="footer-container2" style="display: flex; gap: 15px; justify-content: end; align-items: center; width: 100%;">

    <!--Author Logo (formerly the site logo)-->
    <img id="authorlogo_dark" style="opacity: 0.5;" class="hx:hidden hx:dark:block" src="images/navbar/logoDark.svg" width="230px" />
    <img id="authorlogo_light" style="opacity: 0.5;" class="hx:block hx:dark:hidden" src="images/navbar/logo.svg" width="230px" />

    <!--Official site badge - this badge is used to indicate that Benjamin Fernandez Media officially created this site-->
    <img id="sitebadge_dark" style="opacity: 0.5;" class="hx:hidden hx:dark:block" src="images/index/official_badge_dark.svg" width="120px" />
    <img id="sitebadge_light" style="opacity: 0.5;" class="hx:block hx:dark:hidden" src="images/index/official_badge.svg" width="120px" />

  </div>
</div>
